# generated 2019-10-22 22:03:56

feature-key-version              1
serial-number                    463140788

valid-until-date                 2020-11-22

asdb-all-flash                   true
asdb-change-notification         true
asdb-compression                 true
asdb-encryption-at-rest          true
asdb-kerberos                    true
asdb-ldap                        true
asdb-pmem-index                  true
asdb-strong-consistency          true
encryption-at-rest               true
ldap                             true
mesg-kafka-connector             true
raf-realtime-analysis-framework  true
strong-consistency               true

----- SIGNATURE ------------------------------------------------
MEQCIDMtnFri6flBLwffkPIlqnbFYLl/Y7VWGBvy802A1gOyAiBA8VvbXvjrD2It
cxeNenADgJnch6KdXXRLu+Vf+M81ySQ=
----- END OF SIGNATURE -----------------------------------------
